---
import SocialShare from '../../components/SocialShare.astro';
import H2 from '../../components/H2.astro'
import Layout from '../../layouts/Layout.astro'
import { contentfulClient } from "../../lib/contentful";
import type { Post } from '../../types/contentful';
import ExcerptList from '../../components/ExcerptList.astro';
import type { TagCollection } from 'contentful';
import { BLOGPOSTING } from '../../lib/jsonld';

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Post>({
    content_type: "post",
    include: 10,
  });

  const tags = await contentfulClient.getTags()

    const posts = entries.items.map((item) => ({
        params: { slug: `/${item.fields.slug}` },
        props: {
            allTags: tags,
            body: item.fields.body,
            description: item.fields.excerpt,
            image: item.fields.image,
            title: item.fields.title,
            slug: item.fields.slug,
            tags: item.metadata.tags,
            createdAt: item.sys.createdAt,
            updatedAt: item.sys.updatedAt,
        },
    }));

  return posts;
}

interface Props {
    allTags: TagCollection
    body: Post['fields']['body']
    description: Post['fields']['excerpt']
    image: Post['fields']['image']
    title: Post['fields']['title']
    slug: Post['fields']['slug']
    tags: Post['metadata']['tags']
    createdAt: Post['sys']['createdAt']
    updatedAt: Post['sys']['updatedAt']
}

const { allTags, body, description, image, title, slug, tags, createdAt, updatedAt } = Astro.props

---

<Layout
  description={description}
  body={body}
  heroImage={image}
  title={title}
  allTags={allTags}
  slug={`blogi/${slug}`}
  createdAt={createdAt}
  updatedAt={updatedAt}
  tags={tags}
  type={BLOGPOSTING}
>
    <SocialShare ariaLabel={`Kirjoituksen ${title} sosiaalisen median jakolinkit`} shareUrl={`https://laurilavanti.fi/blogi/${slug}`} title={title} />
    <H2>Muita kirjoituksia</H2>
    <ExcerptList limit={4} currentSlug={slug} relatedTags={tags} allTags={allTags} />
</Layout>
