---
import SocialShare from '../../components/SocialShare.astro';
import H2 from '../../components/H2.astro'
import Layout from '../../layouts/Layout.astro'
import { contentfulClient } from "../../lib/contentful";
import type { Post } from '../../types/contentful';
import ExcerptList from '../../components/ExcerptList.astro';

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Post>({
    content_type: "post",
    include: 10,
  });

  const tags = await contentfulClient.getTags()

    const pages = entries.items.map((item) => ({
        params: { slug: `/${item.fields.slug}` },
        props: {
            allTags: tags,
            body: item.fields.body,
            description: item.fields.excerpt,
            image: item.fields.image,
            title: item.fields.title,
            slug: item.fields.slug,
            tags: item.metadata.tags,
        },
    }));

  return pages;
}

const { allTags, body, description, image, title, slug, tags } = Astro.props

---

<Layout description={description} body={body} heroImage={image} title={title} tags={allTags}>
    <SocialShare ariaLabel={`Kirjoituksen ${title} sosiaalisen median jakolinkit`} shareUrl={`https://laurilavanti.fi/blogi/${slug}`} title={title} />
    <H2>Muita kirjoituksia</H2>
    <ExcerptList limit={4} currentSlug={slug} relatedTags={tags} allTags={allTags} />
</Layout>
