---
/* eslint-disable astro/no-unused-css-selector */
import { CldImage } from 'astro-cloudinary'

import { sizes } from '../../lib/styles'
import BackgroundImage from './images/BackgroundImage.astro'

interface Props {
    alt?: string
    backgroundImage?: string
    heroImage?: string
    mobileHeroImage?: string
}

const { alt, backgroundImage, heroImage, mobileHeroImage } = Astro.props
---

<style define:vars={{ sizes1Negative: `-${sizes[1]}`, sizes14Negative: `-${sizes[14]}` }}>
    .container {
        display: flex;
        flex: 1;
        overflow: hidden;
        position: relative;
        margin-top: 0;
    }

    .image {
        margin-left: var(--sizes1Negative);
    }

    .image-mobile {
        display: block;
    }

    .image-desktop {
        display: none;
    }

    @media (min-width: 1200px) {
        .container {
            overflow: visible;
            width: 50%;
            margin-top: 0;
        }

        .image {
            bottom: 0;
            position: absolute;
            right: var(--sizes14Negative);
            margin-top: auto;
        }

        .image-mobile {
            display: none;
        }

        .image-desktop {
            display: block;
        }
    }
</style>
<div class="container">
    <BackgroundImage image={backgroundImage} />
    {
        heroImage && mobileHeroImage ? (
            <>
                <CldImage
                    alt={alt ?? ''}
                    class="image image-mobile"
                    crop={{ aspectRatio: '1:1', gravity: 'face', source: true, type: 'fill' }}
                    fetchpriority="high"
                    height={562}
                    layout="constrained"
                    src={mobileHeroImage}
                    width={560}
                />
                <CldImage
                    alt={alt ?? ''}
                    class="image image-desktop"
                    crop={{ aspectRatio: '1:1', gravity: 'face', source: true, type: 'fill' }}
                    fetchpriority="high"
                    height={562}
                    layout="constrained"
                    src={heroImage}
                    width={560}
                />
            </>
        ) : heroImage ? (
            <CldImage
                alt={alt ?? ''}
                class="image"
                crop={{ aspectRatio: '1:1', gravity: 'face', source: true, type: 'fill' }}
                fetchpriority="high"
                height={562}
                layout="constrained"
                src={heroImage}
                width={560}
            />
        ) : null
    }
</div>
