---
/* eslint-disable astro/no-unused-css-selector */
import { getImageSrcset } from '../../lib/images'
import { sizes } from '../../lib/styles'
import BackgroundImage from './images/BackgroundImage.astro'

interface Props {
    alt?: string
    backgroundImage?: string
    heroImage?: string
    mobileHeroImage?: string
}

const { alt, backgroundImage, heroImage, mobileHeroImage } = Astro.props

const heroImg = heroImage ? getImageSrcset(heroImage, '1x1', [560, 1120, 1680]) : undefined
const mobileImg = mobileHeroImage ? getImageSrcset(mobileHeroImage, '1x1', [560, 1120, 1680]) : undefined
---

<style define:vars={{ sizes1Negative: `-${sizes[1]}`, sizes14Negative: `-${sizes[14]}` }}>
    .container {
        display: flex;
        flex: 1;
        overflow: hidden;
        position: relative;
        margin-top: 0;
    }

    .image {
        margin-left: var(--sizes1Negative);
    }

    .image-mobile {
        display: block;
    }

    .image-desktop {
        display: none;
    }

    @media (min-width: 1200px) {
        .container {
            overflow: visible;
            width: 50%;
            margin-top: 0;
        }

        .image {
            bottom: 0;
            position: absolute;
            right: var(--sizes14Negative);
            margin-top: auto;
        }

        .image-mobile {
            display: none;
        }

        .image-desktop {
            display: block;
        }
    }
</style>
<div class="container">
    <BackgroundImage image={backgroundImage} />
    {
        heroImg && mobileImg ? (
            <>
                <img
                    alt={alt ?? ''}
                    class="image image-mobile"
                    fetchpriority="high"
                    sizes="(max-width: 1199px) 100vw, 560px"
                    src={mobileImg.src}
                    srcset={mobileImg.srcset}
                    width={mobileImg.width}
                    height={mobileImg.height}
                />
                <img
                    alt={alt ?? ''}
                    class="image image-desktop"
                    fetchpriority="high"
                    sizes="560px"
                    src={heroImg.src}
                    srcset={heroImg.srcset}
                    width={heroImg.width}
                    height={heroImg.height}
                />
            </>
        ) : heroImg ? (
            <img
                alt={alt ?? ''}
                class="image"
                fetchpriority="high"
                sizes="(max-width: 1199px) 100vw, 560px"
                src={heroImg.src}
                srcset={heroImg.srcset}
                width={heroImg.width}
                height={heroImg.height}
            />
        ) : null
    }
</div>
