---
import type { CurriculumVitae } from '../../types/contentful'

import Section from './curriculumVitae/Section.astro'

interface Props {
    degrees: CurriculumVitae['fields']['degrees']
    degreesTitle: CurriculumVitae['fields']['degreesTitle']
    fiduciaries: CurriculumVitae['fields']['fiduciaries']
    fiduciariesTitle: CurriculumVitae['fields']['fiduciariesTitle']
    jobExperiences: CurriculumVitae['fields']['jobExperiences']
    jobExperiencesTitle: CurriculumVitae['fields']['jobExperiencesTitle']
}

const { degreesTitle, degrees, fiduciariesTitle, fiduciaries, jobExperiencesTitle, jobExperiences } = Astro.props
---

<style>
    div {
        grid-column-start: 3;
    }
</style>
<div>
    <Section items={fiduciaries} title={fiduciariesTitle} />
    <Section items={jobExperiences} title={jobExperiencesTitle} />
    <Section items={degrees} title={degreesTitle} />
</div>
