---
import { Picture } from 'astro:assets' /* eslint-disable-line import/no-unresolved */

import { colors, sizes } from '../../lib/styles'
import H2 from '../H2.astro'
import Paragraph from '../Paragraph.astro'
import PostMeta from '../PostMeta.astro'

const { title, excerpt, slug, image, date, tags, allTags } = Astro.props
---
<style define:vars={{ sizes35: sizes[35] }}>
    li {
        max-width: var(--sizes35);
    }
    h2 {
        grid-column-start: auto;
    }
</style>
<li>
    <article aria-label={title} itemtype="https://schema.org/CreativeWork" itemscope>
        <style define:vars={{ sizes01875: sizes[0.1875] }}>
            a {
                color: black;
                text-decoration: none;
            }
            a.main-link:hover {
                text-decoration: underline;
                text-decoration-thickness: var(--sizes01875);
            }
        </style>
        <a class="main-link" rel="permalink" href={`/${slug}/`}>
            {image && (
            <>
                <style>
                    img {
                        max-height: 315px;
                        max-width: 560px;
                        height: 100%;
                        width: 100%;
                    }
                </style>
                <Picture
                    src={`https:${image.fields.file.url}`}
                    sizes="(max-width: 560px) 100vw, 560px"
                    widths={[360, 560]}
                    formats={['avif', 'webp']}
                    fit="cover"
                    alt={image.fields.description}
                    width="560"
                    height="315"
                />
            </>)}
            <style define:vars={{ sizes025: sizes[0.25] }}>
                div {
                    align-items: flex-end;
                    display: flex;
                    margin-top: var(--sizes025);
                    position: relative;
                    width: 100%;
                }
            </style>
            <div>
                <H2 itemProp="headline">{title}</H2>
            </div>
        </a>
        {date && tags && <PostMeta ariaLabel={`Kirjoituksen "${title}" meta-tiedot`} date={date} allTags={allTags} tags={tags} />}
        <Paragraph itemProp="description" smallMarginTop>
            {excerpt}{' '}
            <style define:vars={{ colorsMoss: colors.moss }}>
                a.read-more {
                    color: var(--colorsMoss);
                    text-decoration: none;
                    white-space: nowrap;
                }
            </style>
            <a class="read-more" rel="permalink" href={`/${slug}/`}>
                Lue lisää »
            </a>
        </Paragraph>
    </article>
</li>
