---
import type { TagCollection, TagLink } from 'contentful'
import type { Image } from '../../types/contentful'

import { sizes } from '../../lib/styles'
import Meta from '../Meta.astro'
import Banner from './excerpt/Banner.astro'
import Description from './excerpt/Description.astro'

interface Props {
    allTags: TagCollection
    date?: string
    excerpt?: string
    image?: Image
    slug?: string
    tags?: { sys: TagLink }[]
    title: string
}

const { title, excerpt, slug, image, date, tags, allTags } = Astro.props
---

<style define:vars={{ sizes35: sizes[35] }}>
    li {
        max-width: var(--sizes35);
    }
</style>
<li>
    <article aria-label={title} itemscope itemtype="https://schema.org/CreativeWork">
        <Banner image={image} slug={slug} title={title} />
        {
            date && tags && (
                <Meta allTags={allTags} ariaLabel={`Kirjoituksen "${title}" meta-tiedot`} date={date} tags={tags} />
            )
        }
        <Description excerpt={excerpt} slug={slug} />
    </article>
</li>
