---
import type { TagCollection } from '../../types/local'

import { sizes } from '../../lib/styles'
import Meta from '../Meta.astro'
import Banner from './excerpt/Banner.astro'
import Description from './excerpt/Description.astro'

interface Props {
    allTags: TagCollection
    date?: string
    excerpt?: string
    lang?: 'en' | 'fi' | 'sv'
    localAlt?: string
    localImage?: string
    slug?: string
    tags?: string[]
    title: string
}

const { allTags, date, excerpt, lang = 'fi', localAlt, localImage, slug, tags, title } = Astro.props

const metaAriaLabels = {
    en: (t: string) => `Meta information for post "${t}"`,
    fi: (t: string) => `Kirjoituksen "${t}" meta-tiedot`,
    sv: (t: string) => `Metainformation för inlägget "${t}"`,
}
---

<style define:vars={{ sizes35: sizes[35] }}>
    li {
        max-width: var(--sizes35);
    }
</style>
<li>
    <article aria-label={title} itemscope itemtype="https://schema.org/CreativeWork">
        <Banner localAlt={localAlt} localImage={localImage} slug={slug} title={title} />
        {
            date && tags && (
                <Meta allTags={allTags} ariaLabel={metaAriaLabels[lang](title)} date={date} lang={lang} tags={tags} />
            )
        }
        <Description excerpt={excerpt} />
    </article>
</li>
