---
import LI from '../../LI.astro'
import Description from './row/Description.astro'
import Label from './row/Label.astro'
import Meta from './row/Meta.astro'

interface Props {
    company?: string
    degree?: string
    description?: string[]
    duty?: string
    endYear?: number
    location?: string
    organization?: string
    school?: string
    startYear: number
    title?: string
}

const { company, degree, description, duty, endYear, location, organization, school, startYear, title } = Astro.props
---

<LI heavy={!endYear}>
    <Label degree={degree} duty={duty} title={title} />
    <Meta
        company={company}
        endYear={endYear}
        location={location}
        organization={organization}
        school={school}
        startYear={startYear}
    />
    {description && <Description items={description} />}
</LI>
