---
import { BLOCKS, INLINES, MARKS, type Block, type Document, type Inline, type Text } from "@contentful/rich-text-types";

import Paragraph from './Paragraph.astro'
import H2 from './H2.astro'
import ExternalLink from "./ExternalLink.astro"
import CurriculumVitae from "./body/CurriculumVitae.astro";
import BlockQuote from "./body/BlockQuote.astro";
import ExcerptList from "./ExcerptList.astro";
import type { TagCollection } from "contentful";

const supportedMarks: string[] = [MARKS.ITALIC]

const renderMark = (mark: string, text: string) => {
  if (mark === MARKS.ITALIC) {
    return `<i>${text}</i>`
  }

  return text
}

const renderText = (node: Text) => {
  const result = node.value

  if (node.marks.length > 0) {
    return node.marks.reduce((value, mark) => {
      if (supportedMarks.includes(mark.type)) {
        return renderMark(mark.type, value)
      }

      return value
    }, result)
  }

  return result
}

type Node = Document | Block | Inline | Text

interface Props {
  node: Node
  tags: TagCollection
}

const { node, tags } = Astro.props

const children = Array.isArray(node) ? node : 'content' in node ? node.content : [];
---
<style>
  i {
    font-family: var(--ibmPlexSans);
  }
</style>
{
  Array.isArray(children) &&
    children.map((childNode) => (
      <>
        {childNode.nodeType === "text" && (
            <Fragment set:html={renderText(childNode)} />
        )}
        {childNode.nodeType === BLOCKS.PARAGRAPH && (
          <Paragraph inGrid>
            <Astro.self node={childNode.content as Node} />
          </Paragraph>
        )}
        {childNode.nodeType === BLOCKS.HEADING_2 && (
            <H2><Astro.self node={childNode.content as Node} /></H2>
        )}
        {childNode.nodeType === BLOCKS.QUOTE && (<BlockQuote>{childNode.content[0].content[0].value}</BlockQuote>)}
        {childNode.nodeType === INLINES.HYPERLINK && 
            childNode?.data?.uri && (
              <ExternalLink href={childNode.data.uri}><Astro.self node={childNode.content as Node} /></ExternalLink>
            )
        }
        {childNode.nodeType === BLOCKS.EMBEDDED_ENTRY && (
            <>
                {childNode.data.target.sys.contentType.sys.id === 'curriculumVitae' && (
                    <CurriculumVitae
                        degrees={childNode.data.target.fields.degrees}
                        degreesTitle={childNode.data.target.fields.degreesTitle}
                        fiduciaries={childNode.data.target.fields.fiduciaries}
                        fiduciariesTitle={childNode.data.target.fields.fiduciariesTitle}
                        jobExperiences={childNode.data.target.fields.jobExperiences}
                        jobExperiencesTitle={childNode.data.target.fields.jobExperiencesTitle}
                    />
                )}
                {childNode.data.target.sys.contentType.sys.id === 'excerptList' && (
                    <ExcerptList limit={childNode.data.target.fields.limit} allTags={tags} />
                )}
            </>
        )}
        {childNode.nodeType === INLINES.EMBEDDED_ENTRY && 
            childNode.data.target.sys.contentType.sys.id === 'contactInfoLink' && (
                <ExternalLink href={childNode.data.target.fields.url} rel="me">{childNode.data.target.fields.username}</ExternalLink>
            )
        }
      </>
    ))
}
