---
import type { Citation as CitationType } from '../content/citations'
import type { Lang } from '../content/nav'

import { sizes } from '../lib/styles'
import Citation from './citations/Citation.astro'

interface Props {
    citations: CitationType[]
    lang: Lang
}

const { citations, lang } = Astro.props
---

<style
    define:vars={{
        sizes2: sizes[2],
        sizes3: sizes[3],
    }}
>
    ul {
        display: grid;
        gap: var(--sizes3);
        grid-column-start: 3;
        grid-template-columns: 1fr;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @media (min-width: 1200px) {
        ul {
            gap: var(--sizes2);
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>
<ul>
    {
        citations.map((c) => (
            <li>
                <Citation
                    alt={c.locales[lang].alt}
                    citation={c.citation}
                    image={c.image}
                    name={c.name}
                    title={c.locales[lang].title}
                />
            </li>
        ))
    }
</ul>
