---
import type { CvRow } from '../types/local'

import Section from './curriculumVitae/Section.astro'

interface Props {
    degrees: CvRow[]
    degreesTitle: string
    fiduciaries: CvRow[]
    fiduciariesTitle: string
    jobExperiences: CvRow[]
    jobExperiencesTitle: string
}

const { degreesTitle, degrees, fiduciariesTitle, fiduciaries, jobExperiencesTitle, jobExperiences } = Astro.props
---

<style>
    div {
        grid-column-start: 3;
    }
</style>
<div>
    <Section items={fiduciaries} title={fiduciariesTitle} />
    <Section items={jobExperiences} title={jobExperiencesTitle} />
    <Section items={degrees} title={degreesTitle} />
</div>
