---
import type { Lang } from '../content/nav'

import { footerAriaLabel, footerLinks } from '../content/footer'
import { colors, CONTENT_PADDING, CONTENT_SIZE, gridAreas, sizes } from '../lib/styles'
import InstagramLink from './footer/InstagramLink.astro'
import Link from './footer/Link.astro'
import TikTokLink from './footer/TikTokLink.astro'

interface Props {
    lang?: Lang
}

const { lang = 'fi' } = Astro.props
const getAriaLabel = footerAriaLabel[lang]
---

<style
    define:vars={{
        colorsEvening: colors.evening,
        colorsWhite: colors.white,
        contentPadding: CONTENT_PADDING,
        contentSize: CONTENT_SIZE,
        gridAreasFooter: gridAreas.footer,
        sizes15: sizes[1.5],
    }}
>
    footer {
        align-items: center;
        background-color: var(--colorsEvening);
        color: var(--colorsWhite);
        display: flex;
        grid-area: var(--gridAreasFooter);
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--sizes15);
    }

    .container > div,
    .container > ul {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
    }

    .container > ul {
        gap: var(--sizes15);
    }

    @media (min-width: 1200px) {
        .container {
            flex-direction: row;
            padding-left: var(--contentPadding);
            padding-right: var(--contentPadding);
            width: var(--contentSize);
        }

        .container > div {
            justify-content: flex-start;
        }

        .container > ul {
            justify-content: flex-end;
        }
    }
</style>
<footer id="footer">
    <div class="container">
        <div>
            <img
                alt="Vihreiden logo ja teksti"
                height="45"
                loading="lazy"
                src="/images/greensLogo3Languages.min.svg"
                width="144"
            />
        </div>
        <ul>
            {
                footerLinks.map((link) =>
                    link.icon === 'instagram' ? (
                        <InstagramLink ariaLabel={getAriaLabel(link.title)} title={link.title} url={link.url} />
                    ) : link.icon === 'tiktok' ? (
                        <TikTokLink ariaLabel={getAriaLabel(link.title)} title={link.title} url={link.url} />
                    ) : (
                        <Link ariaLabel={getAriaLabel(link.title)} icon={link.icon} title={link.title} url={link.url} />
                    )
                )
            }
        </ul>
    </div>
</footer>
