---
import type { FooterNav } from '../types/contentful'

import { contentfulClient } from '../lib/contentful'
import { colors, CONTENT_PADDING, CONTENT_SIZE, gridAreas, sizes } from '../lib/styles'
import InstagramLink from './footer/InstagramLink.astro'
import Link from './footer/Link.astro'
import TikTokLink from './footer/TikTokLink.astro'

/** Only one footer nav there */
const footerNav = await contentfulClient.getEntry<FooterNav>('4aw1Sed11FQi8rnU5dRVby')
---

<style
    define:vars={{
        colorsEvening: colors.evening,
        colorsWhite: colors.white,
        contentPadding: CONTENT_PADDING,
        contentSize: CONTENT_SIZE,
        gridAreasFooter: gridAreas.footer,
        sizes15: sizes[1.5],
    }}
>
    footer {
        align-items: center;
        background-color: var(--colorsEvening);
        color: var(--colorsWhite);
        display: flex;
        grid-area: var(--gridAreasFooter);
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--sizes15);
    }

    .container > div,
    .container > ul {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
    }

    .container > ul {
        gap: var(--sizes15);
    }

    @media (min-width: 1200px) {
        .container {
            flex-direction: row;
            padding-left: var(--contentPadding);
            padding-right: var(--contentPadding);
            width: var(--contentSize);
        }

        .container > div {
            justify-content: flex-start;
        }

        .container > ul {
            justify-content: flex-end;
        }
    }
</style>
<footer>
    <div class="container">
        <div>
            <img alt="Vihreiden logo ja teksti" loading="lazy" src="/images/greensLogo3Languages.min.svg" width="144" />
        </div>
        <ul>
            {
                (footerNav?.fields?.links as FooterNav['fields']['links'] | undefined)?.map((link) =>
                    !link ? null : link.fields.icon === 'instagram' ? (
                        <InstagramLink title={link.fields.title} url={link.fields.url} />
                    ) : link.fields.icon === 'tiktok' ? (
                        <TikTokLink title={link.fields.title} url={link.fields.url} />
                    ) : (
                        <Link icon={link.fields.icon} title={link.fields.title} url={link.fields.url} />
                    )
                )
            }
        </ul>
    </div>
</footer>
