---
import type { Image } from '../types/contentful'

import { BLOGPOSTING, JSON_LD_TYPES, type JsonLdType, WEBPAGE, WEBSITE } from '../lib/jsonld'

interface Props {
    createdAt?: string
    croppedImage?: Image
    description?: string
    image?: Image
    slug?: string
    title: string
    type?: JsonLdType
    updatedAt?: string
}

const {
    croppedImage,
    description = 'Lauri Lavanti on informaatioverkostojen diplomi-insinööri, Lead Developer ja Kirkkonummelainen kunnanvaltuutettu, joka keskittyy digitalisaatioon ja yksityisyyden suojaan nopeasti muuttuvassa maailmassa.',
    title,
    type,
    slug,
    image,
    createdAt,
    updatedAt,
} = Astro.props

const canonical = slug === 'index' ? Astro.site : slug ? new URL(`${slug}/`, Astro.site) : null

const imageUrl = croppedImage?.fields?.file?.url ?? image?.fields?.file?.url
const imageAlt = croppedImage?.fields?.description ?? image?.fields?.description
const imageDetails = croppedImage?.fields?.file?.details.image ?? image?.fields?.file?.details.image

const name = 'Lauri Lavanti'

const bluesky = 'https://bsky.app/profile/laurilavanti.fi'
const facebook = 'https://www.facebook.com/laurilavanti'
const instagram = 'https://www.instagram.com/laurilavanti/'
const linkedIn = 'https://www.linkedin.com/in/lapanti'
const mastodon = 'https://mastodontti.fi/@laurilavanti'
const threads = 'https://www.threads.com/@laurilavanti'
const tikTok = 'https://www.tiktok.com/@laurilavanti'

const jsonLd = JSON.stringify({
    '@context': 'https://schema.org',
    '@type': type && JSON_LD_TYPES.includes(type) ? type : WEBSITE,
    author: {
        '@type': 'Person',
        name,
    },
    description,
    headline: title,
    url: canonical,
    ...(imageUrl
        ? {
              image: `https${imageUrl}`,
          }
        : {}),
    ...(type === BLOGPOSTING
        ? {
              dateModified: updatedAt ?? createdAt,
              datePublished: createdAt,
              mainEntityOfPage: {
                  '@id': canonical,
                  '@type': WEBPAGE,
              },
          }
        : {}),
    ...(type === WEBSITE
        ? {
              name,
              sameAs: [bluesky, facebook, instagram, linkedIn, mastodon, threads, tikTok],
          }
        : {}),
})

const keywords = [
    'Kirkkonummi',
    'Länsi-Uusimaa',
    'Uusimaa',
    'kuntavaalit',
    'aluevaalit',
    'Vihreät',
    'Lauri Lavanti',
    'Lauri',
    'Lavanti',
    'poliitikko',
    'digitalisaatio',
    'tekoäly',
    'teknologia',
    'tietopolitiikka',
].join(', ')
---

<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
<meta content={keywords} name="keywords" />
<meta content={title} property="og:title" />
<meta content={name} name="author" />
<meta content="fi_FI" property="og:locale" />
<meta content={description} name="description" />
<meta content={description} property="og:description" />
<meta content={name} property="og:site_name" />
<meta content={title} property="twitter:title" />
<meta content={name} property="article:author" />
<meta content={createdAt} property="article:published_time" />
<meta content="website" property="og:type" />
<meta content={description} name="twitter:description" />
<meta content="@laurilavanti@mastodontti.fi" name="fediverse:creator" />
{
    canonical && (
        <>
            <meta content={canonical} property="og:url" />
            <link href={canonical} rel="canonical" />
        </>
    )
}
{
    imageUrl ? (
        <>
            <meta content={`https${imageUrl}`} property="og:image" />
            <meta content={imageAlt} name="og:image:alt" />
            <meta content={`${imageDetails?.height}`} property="og:image:height" />
            <meta content={`${imageDetails?.width}`} property="og:image:width" />
            <meta content="summary_large_image" name="twitter:card" />
        </>
    ) : (
        <meta content="summary" name="twitter:card" />
    )
}
<meta content="#006275" name="theme_color" />
<meta content="Lauri Lavanti" name="apple-mobile-web-app-title" />
<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
<link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
<link href="/favicon.ico" rel="shortcut icon" />
<link href="/app.webmanifest" rel="manifest" />
<title>{title === 'Lauri Lavanti' ? title : `${title} | Lauri Lavanti`}</title>
<script is:inline set:html={jsonLd} type="application/ld+json" />
<link crossorigin="" href="https://images.ctfassets.net" rel="preconnect" />
<link crossorigin="" href="https://static.cloudflareinsights.com" rel="preconnect" />
<link href="/sitemap-index.xml" rel="sitemap" />
