---
import { Font } from 'astro:assets' /* eslint-disable-line import/no-unresolved */

import { BLOGPOSTING, JSON_LD_TYPES, WEBPAGE, WEBSITE, type JsonLdType } from '../lib/jsonld'
import type { Image } from '../types/contentful'

interface Props {
    description?: string
    title: string
    type?: JsonLdType
    slug?: string
    image?: Image
    createdAt?: string
    updatedAt?: string
}

const {
    description = 'Lauri Lavanti on informaatioverkostojen diplomi-insinööri, Lead Developer ja Kirkkonummelainen kunnanvaltuutettu, joka keskittyy digitalisaatioon ja yksityisyyden suojaan nopeasti muuttuvassa maailmassa.',
    title,
    type,
    slug,
    image,
    createdAt,
    updatedAt,
} = Astro.props

const canonical = slug === 'index' ? Astro.site : slug ? `${Astro.site}${slug}` : null

const name = 'Lauri Lavanti'

const bluesky = 'https://bsky.app/profile/laurilavanti.fi'
const facebook = 'https://www.facebook.com/laurilavanti'
const instagram = 'https://www.instagram.com/laurilavanti/'
const linkedIn = 'https://www.linkedin.com/in/lapanti'
const mastodon = 'https://mastodontti.fi/@laurilavanti'
const threads = 'https://www.threads.net/@laurilavanti'
const tikTok = 'https://www.tiktok.com/@laurilavanti'

const jsonLd = JSON.stringify({
    '@context': 'https://schema.org',
    '@type': type && JSON_LD_TYPES.includes(type) ? type : WEBSITE,
    author: {
        '@type': 'Person',
        name,
    },
    description,
    headline: title,
    url: canonical,
    ...(image?.fields?.file?.url
        ? {
            image: `https${image.fields.file.url}`,
        }
        : {}),
    ...(type === BLOGPOSTING
        ? {
                dateModified: updatedAt ?? createdAt,
                datePublished: createdAt,
                mainEntityOfPage: {
                    '@id': canonical,
                    '@type': WEBPAGE,
                },
            }
        : {}),
    ...(type === WEBSITE
        ? {
              name,
              sameAs: [bluesky, facebook, instagram, linkedIn, mastodon, threads, tikTok],
          }
        : {}),
})

const keywords = [
    'Kirkkonummi',
    'Länsi-Uusimaa',
    'Uusimaa',
    'kuntavaalit',
    'aluevaalit',
    'Vihreät',
    'Lauri Lavanti',
    'Lauri',
    'Lavanti',
    'poliitikko',
    'digitalisaatio',
    'tekoäly',
    'teknologia',
    'tietopolitiikka',
].join(', ')
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta content={keywords} name="keywords" />
<meta content={title} name="og:title" />
<meta content={name} name="author" />
<meta content="fi_FI" name="og:locale" />
<meta content={description} name="description" />
<meta content={description} name="og:description" />
<meta content={name} name="og:site_name" />
<meta content={title} name="twitter:title" />
<meta content={facebook} name="article:publisher" />
<meta content="website" name="og:type" />
<meta content={description} name="twitter:description" />
<meta content="@laurilavanti@mastodontti.fi" name="fediverse:creator" />
{canonical && (
    <>
        <meta content={canonical} name="og:url" />
        <link href={canonical} rel="canonical" />
    </>
)}
{image?.fields?.file?.url ? (
    <>
        <meta content={`https${image.fields.file.url}`} name="og:image" />
        <meta content={`${image.fields.file.details.image?.height}`} name="og:image:height" />
        <meta content={`${image.fields.file.details.image?.width}`} name="og:image:width" />
        <meta content="summary_large_image" name="twitter:card" />
    </>
) : (<meta content="summary" name="twitter:card" />)}
<meta name="theme_color" content="#006275" />
<meta name="apple-mobile-web-app-title" content="Lauri Lavanti" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="manifest" href="/app.webmanifest" />
<title>{title === 'Lauri Lavanti' ? title : `${title} | Lauri Lavanti`}</title>
<script is:inline set:html={jsonLd} type="application/ld+json" />
<Font cssVariable="--ibmPlexMono" preload />
<Font cssVariable="--ibmPlexSans" preload />
<link crossorigin="" href="https://images.ctfassets.net" rel="preconnect">
<link crossorigin="" href="https://static.cloudflareinsights.com" rel="preconnect">
