---
import { Picture } from 'astro:assets' /* eslint-disable-line import/no-unresolved */

import { colors, HEADER_SIZE, sizes, typographics } from '../lib/styles'
import type { Image } from '../types/contentful'

interface Props {
    image?: Image
    title: string
    subtitle?: string
    secondaryTitle?: string
    backgroundImage?: Image
}

const { image, title, subtitle, secondaryTitle, backgroundImage } = Astro.props
---
<style define:vars={{
    h1FontFamily: typographics.h1.fontFamily,
    h1FontWeight: typographics.h1.fontWeight,
    h1FontSize: typographics.h1.fontSize,
    h1LineHeight: typographics.h1.lineHeight,
    h2FontFamily: typographics.h2.fontFamily,
    h2FontWeight: typographics.h2.fontWeight,
    h2FontSize: typographics.h2.fontSize,
    h2LineHeight: typographics.h2.lineHeight,
    ingressFontWeight: typographics.ingress.fontWeight,
    ingressFontSize: typographics.ingress.fontSize,
    ingressLineHeight: typographics.ingress.lineHeight,
    colorsEvening: colors.evening,
    colorsEvening70: colors.evening70,
    colorsPeach: colors.peach,
    colorsWhite: colors.white,
    sizes05: sizes[0.5],
    sizes0875: sizes[0.875],
    sizes15: sizes[1.5],
    sizes3: sizes[3],
    sizes375: sizes[3.75],
    sizes5Negative: `-${sizes[5]}`,
    sizes8Negative: `-${sizes[8]}`,
    sizes45: sizes[45],
    headerSize: HEADER_SIZE,
}}>
    .container {
        align-items: stretch;
        background: var(--colorsEvening);
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;
        height: 100dvh;
    }

    .titles {
        color: var(--colorsWhite);
        display: flex;
        flex-direction: column;
        gap: var(--sizes15);
        padding: var(--sizes0875);
    }

    h1 {
        font-family: var(--h1FontFamily);
        font-weight: var(--h1FontWeight);
        font-size: var(--h1FontSize);
        line-height: var(--h1LineHeight);
        color: var(--colorsPeach);
        top: var(--sizes05);
    }

    h2 {
        font-family: var(--h2FontFamily);
        font-weight: var(--h2FontWeight);
        font-size: var(--h2FontSize);
        line-height: var(--h2LineHeight);
    }

    p {
        font-family: var(--ibmPlexSans);
        font-weight: var(--ingressFontWeight);
        font-size: var(--ingressFontSize);
        line-height: var(--ingressLineHeight);
        display: none;
    }

    .image-container {
        display: flex;
        flex: 1;
        overflow: hidden;
        position: relative;
    }

    .background-container {
        display: none;
    }

    .background-image {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    picture:has(.background-image):after {
        background-image: linear-gradient(var(--colorsEvening70), var(--colorsEvening70));
        bottom: 0;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .image {
        margin-left: var(--sizes8Negative);
    }

    @media (min-width: 1200px) {
        .container {
            flex-direction: row-reverse;
            height: var(--sizes45);
            padding-top: var(--headerSize);
        }

        .titles {
            align-items: flex-start;
            gap: var(--sizes3);
            justify-content: flex-start;
            padding: var(--sizes375);
            width: 50%;
        }

        p {
            display: flex;
        }

        .image-container {
            overflow: visible;
            width: 50%;
        }

        .background-container {
            display: flex;
            height: 100%;
            position: absolute;
            width: 100%;
        }

        .image {
            bottom: 0;
            position: absolute;
            right: var(--sizes5Negative);
            margin-top: auto;
        }
    }
</style>
<div class="container">
    <div class="titles">
        <h1>{title}</h1>
        {subtitle && <p>{subtitle}</p>}
        {secondaryTitle && <h2>{secondaryTitle}</h2>}
    </div>
    <div class="image-container">
        {backgroundImage?.fields?.file?.url && (
            <div class="background-container">
                <Picture
                    class="background-image"
                    src={`https:${backgroundImage.fields.file.url}`}
                    alt=""
                    priority
                    layout="full-width"
                    fit="cover"
                    sizes="50vw"
                    formats={['avif', 'webp']}
                    widths={[576, 768, 992, 1280, 2560]}
                    width="768"
                    height="588"
                />
            </div>
        )}
        {image?.fields?.file?.url && (
            <Picture
                class="image"
                src={`https:${image.fields.file.url}`}
                alt={image.fields.description ?? null}
                priority
                layout="constrained"
                fit="cover"
                sizes="50vw"
                formats={['avif', 'webp']}
                widths={[560, 768, 992, 1280, 2560]}
                width="560"
                height="562"
            />)}
    </div>
</div>
