---
import { colors, HEADER_SIZE, sizes } from '../lib/styles'
import type { Image } from '../types/contentful'
import Images from './heroBanner/Images.astro'
import Titles from './heroBanner/Titles.astro'

interface Props {
    image?: Image
    title: string
    subtitle?: string
    secondaryTitle?: string
    backgroundImage?: Image
}

const { image, title, subtitle, secondaryTitle, backgroundImage } = Astro.props
---
<style define:vars={{
    colorsEvening: colors.evening,
    sizes45: sizes[45],
    headerSize: HEADER_SIZE,
}}>
    div {
        align-items: stretch;
        background: var(--colorsEvening);
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;
        height: 100dvh;
    }

    @media (min-width: 1200px) {
        div {
            flex-direction: row-reverse;
            height: var(--sizes45);
            padding-top: var(--headerSize);
        }
    }
</style>
<div>
    <Titles title={title} subtitle={subtitle} secondaryTitle={secondaryTitle} />
    <Images backgroundImage={backgroundImage} image={image} />
</div>
