---
import { newsletterContent } from '../content/newsletter'
import { colors, fontFamilies, sizes } from '../lib/styles'
import H2 from './H2.astro'
import Link from './Link.astro'
import Paragraph from './Paragraph.astro'

interface Props {
    lang: 'en' | 'fi' | 'sv'
}

const { lang } = Astro.props

const content = newsletterContent[lang]

const formId = lang === 'sv' ? 'mlb2-38379286' : lang === 'en' ? 'mlb2-38366393' : 'mlb2-38347721'
const formAction =
    lang === 'sv'
        ? 'https://assets.mailerlite.com/jsonp/2182645/forms/181754147902588391/subscribe'
        : lang === 'en'
          ? 'https://assets.mailerlite.com/jsonp/2182645/forms/181740004170532163/subscribe'
          : 'https://assets.mailerlite.com/jsonp/2182645/forms/181706420545128273/subscribe'
const takelUrl =
    lang === 'sv'
        ? 'https://assets.mailerlite.com/jsonp/2182645/forms/181754147902588391/takel'
        : lang === 'en'
          ? 'https://assets.mailerlite.com/jsonp/2182645/forms/181740004170532163/takel'
          : 'https://assets.mailerlite.com/jsonp/2182645/forms/181706420545128273/takel'
const subscribeClass = `ml-subscribe-form-${formId.replace('mlb2-', '')}`
const privacyHref = `/${lang}/privacy-policy/`
---

<style
    define:vars={{
        colorsBlack: colors.black,
        colorsEvening: colors.evening,
        colorsEvening70: colors.evening70,
        colorsMoss: colors.moss,
        colorsWhite: colors.white,
        fontFamiliesSans: fontFamilies.sans,
        sizes0875: sizes[0.875],
        sizes1: sizes[1],
        sizes125: sizes[1.25],
    }}
>
    /* LOADER */
    .ml-form-embedSubmitLoad {
        display: inline-block;
        width: var(--sizes125);
        height: var(--sizes125);
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .ml-form-embedSubmitLoad:after {
        content: ' ';
        display: block;
        width: 11px;
        height: 11px;
        margin: 1px;
        border-radius: 50%;
        border: 4px solid var(--colorsWhite);
        border-color: var(--colorsWhite) var(--colorsWhite) var(--colorsWhite) transparent;
        animation: ml-form-embedSubmitLoad 1.2s linear infinite;
    }
    @keyframes ml-form-embedSubmitLoad {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .ml-form-embedContainer {
        box-sizing: border-box;
        grid-column-start: 3;
        margin: 0 auto;
    }
    .ml-form-embedContainer span,
    .ml-form-embedContainer button {
        text-transform: none !important;
        letter-spacing: normal !important;
    }
    .ml-form-embedContainer .ml-form-embedWrapper {
        background-color: var(--colorsWhite);
        box-sizing: border-box;
        display: inline-block !important;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .ml-form-embedContainer .ml-form-embedWrapper.embedForm {
        width: 100%;
    }
    .ml-form-embedContainer .ml-form-align-center {
        text-align: center;
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody,
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
        padding: var(--sizes125) var(--sizes125) 0 var(--sizes125);
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody.ml-form-embedBodyHorizontal {
        padding-bottom: 0;
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent,
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
        text-align: left;
        margin: 0 0 var(--sizes125) 0;
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody form {
        margin: 0;
        width: 100%;
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent {
        margin: 0 0 var(--sizes125) 0;
        width: 100%;
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
        margin: 0;
        padding: 0 0 var(--sizes125) 0;
        width: 100%;
        height: auto;
        float: left;
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input::placeholder {
        color: var(--colorsMoss);
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow {
        height: auto;
        width: 100%;
        float: left;
    }
    .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal {
        width: 70%;
        float: left;
    }
    .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-button-horizontal {
        width: 30%;
        float: left;
    }
    .ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields {
        box-sizing: border-box;
        float: left;
        padding-right: 10px;
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
        background-color: var(--colorsWhite);
        color: var(--colorsBlack);
        border-color: var(--colorsEvening);
        border-style: solid;
        border-width: 1px;
        font-family: var(--fontFamiliesSans);
        font-size: var(--sizes1);
        line-height: var(--sizes125);
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px 10px;
        width: 100%;
        box-sizing: border-box;
        overflow-y: initial;
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
        background-color: var(--colorsEvening) !important;
        border-color: var(--colorsEvening);
        border-style: solid;
        border-width: 1px;
        box-shadow: none;
        color: var(--colorsWhite) !important;
        cursor: pointer;
        font-family: var(--fontFamiliesSans);
        font-size: var(--sizes1) !important;
        font-weight: 700;
        line-height: var(--sizes125);
        margin: 0 !important;
        padding: 10px !important;
        width: 100%;
        height: auto;
    }
    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:hover {
        background-color: var(--colorsEvening70) !important;
        border-color: var(--colorsEvening70) !important;
    }
    @media only screen and (max-width: 1200px) {
        .ml-form-formContent.horozintalForm {
            float: left !important;
        }
        .ml-form-formContent.horozintalForm .ml-form-horizontalRow {
            height: auto !important;
            width: 100% !important;
            float: left !important;
        }
        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal {
            width: 100% !important;
        }
        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal > div {
            padding-right: 0px !important;
            padding-bottom: 10px;
        }
        .ml-form-formContent.horozintalForm .ml-button-horizontal {
            width: 100% !important;
        }
    }
    .ml-mobileButton-horizontal {
        display: none;
    }

    .ml-mobileButton-horizontal button {
        background-color: var(--colorsEvening) !important;
        border-color: var(--colorsEvening) !important;
        border-style: solid !important;
        border-width: 1px !important;
        box-shadow: none !important;
        color: var(--colorsWhite) !important;
        cursor: pointer;
        font-family: var(--fontFamiliesSans) !important;
        font-size: var(--sizes0875) !important;
        font-weight: 700 !important;
        line-height: var(--sizes125) !important;
        padding: 10px !important;
        width: 100% !important;
    }

    @media only screen and (max-width: 400px) {
        .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
            padding: 0 0 10px 0 !important;
        }
        .ml-form-formContent.horozintalForm .ml-button-horizontal {
            display: none !important;
        }
        .ml-mobileButton-horizontal {
            display: inline-block !important;
            margin-bottom: var(--sizes125);
            width: 100%;
        }
        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal > div {
            padding-bottom: 0px !important;
        }
        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields {
            margin-bottom: 10px !important;
            width: 100% !important;
        }
    }

    .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions {
        text-align: left;
        float: left;
        width: 100%;
    }
    .ml-form-embedContainer
        .ml-form-embedWrapper
        .ml-form-embedBody
        .ml-form-embedPermissions
        .ml-form-embedPermissionsContent {
        margin: 0 0 var(--sizes1) 0;
        text-align: left;
    }
    .ml-form-embedContainer
        .ml-form-embedWrapper
        .ml-form-embedBody
        .ml-form-embedPermissions
        .ml-form-embedPermissionsContent.horizontal {
        margin: 0 0 var(--sizes1) 0;
    }
</style>

<div class:list={[`ml-form-embedContainer ml-subscribe-form`, subscribeClass]} id={formId}>
    <div class="ml-form-align-center">
        <div class="ml-form-embedWrapper embedForm">
            <div class="ml-form-embedBody ml-form-embedBodyHorizontal row-form">
                <div class="ml-form-embedContent" style=" ">
                    <H2>{content.heading}</H2>
                    <Paragraph>{content.description}</Paragraph>
                </div>

                <form action={formAction} class="ml-block-form" data-code="" method="post" target="_blank">
                    <div class="ml-form-formContent horozintalForm">
                        <div class="ml-form-horizontalRow">
                            <div class="ml-input-horizontal">
                                <div class="horizontal-fields" style="width: 100%;">
                                    <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                                        <!-- input -->
                                        <label class="sr-only" for="newsletter-email">{content.emailPlaceholder}</label>
                                        <input
                                            autocomplete="email"
                                            class="form-control"
                                            data-inputmask=""
                                            id="newsletter-email"
                                            name="fields[email]"
                                            placeholder={content.emailPlaceholder}
                                            type="email"
                                        />
                                        <!-- /input -->
                                    </div>
                                </div>
                            </div>

                            <div class="ml-button-horizontal primary">
                                <button class="primary" style="height: 2.75rem;" type="submit"
                                    >{content.submitButton}</button
                                >

                                <button class="loading" disabled="disabled" style="display: none;" type="button">
                                    <div class="ml-form-embedSubmitLoad"></div>
                                    <span class="sr-only">{content.loadingLabel}</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Privacy policy -->
                    <div class="ml-form-embedPermissions" style="">
                        <div class="ml-form-embedPermissionsContent horizontal privacy-policy">
                            <Paragraph>
                                {content.privacyText}
                                <Link href={privacyHref}>{content.privacyLinkText}</Link>
                                {content.privacyTextAfter}
                            </Paragraph>
                        </div>
                    </div>
                    <!-- /Privacy policy -->

                    <input name="ml-submit" type="hidden" value="1" />

                    <div aria-hidden="true" class="ml-mobileButton-horizontal">
                        <button class="primary" tabindex="-1" type="submit">{content.submitButton}</button>
                        <button class="loading" disabled="disabled" style="display: none;" tabindex="-1" type="button">
                            <div class="ml-form-embedSubmitLoad"></div>
                            <span class="sr-only">{content.loadingLabel}</span>
                        </button>
                    </div>
                    <input name="anticsrf" type="hidden" value="true" />
                </form>
            </div>

            <div class="ml-form-successBody row-success" style="display: none">
                <div class="ml-form-successContent">
                    <H2>{content.successHeading}</H2>
                    <Paragraph>{content.successMessage}</Paragraph>
                </div>
            </div>
        </div>
    </div>
</div>

<script
    is:inline
    set:html={`
function ml_webform_success_${formId.replace('mlb2-', '')}() {
    var $ = ml_jQuery || jQuery
    $('.${subscribeClass} .row-success').show()
    $('.${subscribeClass} .row-form').hide()
}
`}
/>

<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v95037e5bac78f29ed026832ca21a7c7b" type="text/javascript"
></script>
<script is:inline set:html={`fetch('${takelUrl}')`} />
