---
import { colors, sizes, typographics } from '../lib/styles'

const { date, tags, ariaLabel, allTags } = Astro.props

const [dateOnly] = date.split('T')
const [year, month, day] = dateOnly.split('-')
const dateToDisplay = `${day}.${month}.${year}`

const tagsToRender = tags.map((tag) => allTags.items.find((aTag) => aTag.sys.id === tag.sys.id))
---
<style define:vars={{
    sizes0: sizes[0],
    sizes05: sizes[0.5],
    sizes1: sizes[1],
    definitionFontSize: typographics.definition.fontSize,
    definitionLineHeight: typographics.definition.lineHeight,
    definitionFontWeight: typographics.definition.fontWeight,
    definitionTextTransform: typographics.definition.textTransform,
    colorsMoss: colors.moss,
}}>
    aside {
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: var(--sizes05);
    }

    li {
        margin-right: var(--sizes1);
    }

    li:last-child {
        margin-right: var(--sizes0);
    }

    a {
        color: var(--colorsMoss);
        font-size: var(--definitionFontSize);
        line-height: var(--definitionLineHeight);
        font-family: var(--ibmPlexMono);
        font-weight: var(--definitionFontWeight);
        text-transform: var(--definitionTextTransform);
    }
</style>
<aside aria-label={ariaLabel}>
    <time datetime={dateOnly}>{dateToDisplay}</time>
    {tags.length > 0 && (
        <ul>
            {tagsToRender.map((tag) => (
                <li>
                    <a href={`/kategoria/${tag.sys.id}/`}>#{tag.name}</a>
                </li>
            ))}
        </ul>
    )}
</aside>
