---
import type { Lang } from '../content/nav'
import type { Recommendation as RecommendationType } from '../content/recommendations'

import { sizes } from '../lib/styles'
import Recommendation from './recommendations/Recommendation.astro'

interface Props {
    recommendations: RecommendationType[]
    lang: Lang
}

const { recommendations, lang } = Astro.props
---

<style
    define:vars={{
        sizes2: sizes[2],
        sizes8: sizes[8],
    }}
>
    ul {
        display: grid;
        gap: var(--sizes2);
        grid-column-start: 3;
        grid-template-columns: 1fr;
        list-style: none;
        margin-bottom: var(--sizes2);
        margin-top: var(--sizes2);
        padding: 0;
    }

    @media (min-width: 1200px) {
        ul {
            gap: var(--sizes8);
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
<ul>
    {
        recommendations.map((c) => (
            <li>
                <Recommendation
                    alt={c.locales[lang].alt}
                    image={c.image}
                    name={c.name}
                    recommendation={c.recommendation}
                    title={c.locales[lang].title}
                />
            </li>
        ))
    }
</ul>
