---
/* eslint-disable astro/no-unused-css-selector */
import { Icon } from 'astro-icon/components'

import { colors, sizes } from '../lib/styles'

interface Props {
    ariaLabel: string
    shareUrl: string
    title: string
}

const { title, shareUrl, ariaLabel } = Astro.props
---

<style
    define:vars={{
        colorsBluesky: colors.bluesky,
        colorsFacebook: colors.facebook,
        colorsLinkedin: colors.linkedin,
        colorsThreads: colors.threads,
        sizes05: sizes[0.5],
        sizes1: sizes[1],
        sizes2: sizes[2],
    }}
>
    aside {
        display: flex;
        flex-direction: row;
        grid-column-start: 3;
        margin-bottom: var(--sizes2);
        margin-top: var(--sizes1);
    }

    .share {
        margin-right: var(--sizes05);
    }

    a {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-right: var(--sizes05);
    }

    svg {
        display: inline-block;
        height: var(--sizes1);
        width: var(--sizes1);
        stroke: currentColor;
        fill: currentColor;
    }

    .facebook {
        color: var(--colorsFacebook);
    }

    .threads {
        color: var(--colorsThreads);
    }

    .bluesky {
        color: var(--colorsBluesky);
    }

    .linkedin {
        color: var(--colorsLinkedin);
    }
</style>
<aside aria-label={ariaLabel}>
    <span class="share">Jaa:</span>
    <a
        aria-label={`Jaa kirjoitus "${title}" Facebookissa`}
        href={`https://www.facebook.com/sharer/sharer.php?u=${encodeURI(shareUrl)}`}
        rel="noopener noreferrer"
        title="Jaa Facebookissa"
    >
        <Icon class="facebook" name="fa7-brands:facebook" />
    </a>
    <a
        aria-label={`Jaa kirjoitus "${title}" Threadsiss채`}
        href={`https://threads.com/intent/post?text=${encodeURI(title)}%20${encodeURI(shareUrl)}`}
        rel="noopener noreferrer"
        title="Jaa Threadsiss채"
    >
        <Icon class="threads" name="fa7-brands:threads" />
    </a>
    <a
        aria-label={`Jaa kirjoitus "${title}" Blueskyssa`}
        href={`https://bsky.app/intent/compose?text=${encodeURI(title)}%20${encodeURI(shareUrl)}`}
        rel="noopener noreferrer"
        title="Jaa Blueskyssa"
    >
        <Icon class="bluesky" name="fa7-brands:bluesky" />
    </a>
    <a
        aria-label={`Jaa kirjoitus "${title}" LinkedIniss채`}
        href={`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURI(shareUrl)}`}
        rel="noopener noreferrer"
        title="Jaa LinkedIniss채"
    >
        <Icon class="linkedin" name="fa7-brands:linkedin" />
    </a>
</aside>
