---
import { Picture } from 'astro:assets' /* eslint-disable-line import/no-unresolved */

import { colors, sizes, HEADER_SIZE, CONTENT_PADDING } from '../lib/styles'
import H1 from './titleBanner/H1.astro'
import Meta from './Meta.astro'
import type { Image } from '../types/contentful'
import type { TagCollection, TagLink } from 'contentful'

interface Props {
    title: string
    heroImage?: Image
    createdAt?: string
    tags?: { sys: TagLink }[]
    allTags?: TagCollection
}

const { title, heroImage, createdAt, tags, allTags } = Astro.props
---
<style define:vars={{
    colorsEvening: colors.evening,
    colorsWhite: colors.white,
    sizes05: sizes[0.5],
    sizes1: sizes[1],
    sizes5: sizes[5],
    sizes375: sizes[37.5],
    sizes45: sizes[45],
    headerSize: HEADER_SIZE,
    contentPadding: CONTENT_PADDING,
}}>
    .container {
        background-color: var(--colorsEvening);
        grid-column: 1 / -1;
        padding-top: var(--headerSize);
    }

    .content {
        background-color: var(--colorsWhite);
    }

    .title-container {
        background-color: var(--colorsWhite);
        padding-bottom: var(--sizes1);
        padding-left: var(--contentPadding);
        padding-right: var(--contentPadding);
        padding-top: var(--sizes1);
    }

    
    @media (min-width: 1200px) {
        .container {
            height: var(--sizes45);
        }

        .content {
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: flex-end;
            margin: auto;
        }

        .content .title-container,
        .content .image-container {
                width: 50%;
        }

        .title-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: var(--sizes375);
            padding-bottom: 0;
            padding-left: var(--sizes05);
            padding-right: var(--sizes5);
            padding-top: 0;
        }
    }
</style>
<div class="container">
    <div class="content">
        <div class="title-container">
            <H1>{title}</H1>
            {(createdAt && tags && allTags) && <Meta bigDateTime ariaLabel={`Kirjoituksen ${title} meta-tiedot`} date={createdAt} tags={tags} allTags={allTags} />}
        </div>
        <style>
            .image-container {
                display: flex;
                overflow: hidden;
                position: relative;
                aspect-ratio: 7 / 6;
            }

            img {
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;;
            }
        </style>
        <div class="image-container">
            {heroImage?.fields?.file?.url && (<Picture
                src={`https:${heroImage.fields.file.url}`}
                layout="full-width"
                sizes="(max-width: 1200px) 100vw, 50vw"
                widths={[360, 576, 768, 992, 1200, 1280, 2560]}
                fit="cover"
                formats={['avif', 'webp']}
                alt={heroImage.fields.description ?? null}
                width="768"
                height="588"
                priority
            />)}
        </div>
    </div>
</div>
