---
import type { TagCollection, TagLink } from 'contentful'
import type { Image as ContentfulImage } from '../types/contentful'

import { colors, HEADER_SIZE, sizes } from '../lib/styles'
import Image from './titleBanner/Image.astro'
import Title from './titleBanner/Title.astro'

interface Props {
    allTags?: TagCollection
    createdAt?: string
    croppedHeroImage?: ContentfulImage
    heroImage?: ContentfulImage
    tags?: { sys: TagLink }[]
    title: string
}

const { title, croppedHeroImage, heroImage, createdAt, tags, allTags } = Astro.props
---

<style
    define:vars={{
        colorsEvening: colors.evening,
        colorsWhite: colors.white,
        headerSize: HEADER_SIZE,
        sizes45: sizes[45],
    }}
>
    .container {
        background-color: var(--colorsEvening);
        grid-column: 1 / -1;
        padding-top: var(--headerSize);
    }

    .content {
        background-color: var(--colorsWhite);
    }

    @media (min-width: 1200px) {
        .container {
            height: var(--sizes45);
        }

        .content {
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: flex-end;
            margin: auto;
        }
    }
</style>
<div class="container">
    <div class="content">
        <Title allTags={allTags} createdAt={createdAt} tags={tags} title={title} />
        <Image croppedHeroImage={croppedHeroImage} heroImage={heroImage} />
    </div>
</div>
