---
import type { Lang } from '../content/nav'

import { tags } from '../content/tags'
import { colors, fontFamilies, fontWeights, sizes } from '../lib/styles'
import ExcerptList from './ExcerptList.astro'
import H2 from './H2.astro'
import Link from './Link.astro'
import Paragraph from './Paragraph.astro'
import SmartLink from './SmartLink.astro'

interface Props {
    id: string
    lang: Lang
}

const { id, lang } = Astro.props
const tag = tags.find((t) => t.id === id)
if (!tag) throw new Error(`Tag not found: ${id}`)

const seeAllLabels: Record<Lang, string> = {
    fi: `Kaikki kirjoitukset aiheesta ${tag.names.fi} →`,
    en: `All posts about ${tag.names.en} →`,
    sv: `Alla inlägg om ${tag.names.sv} →`,
}
---

<style
    define:vars={{
        colorsDarkMoss: colors.darkMoss,
        fontFamiliesSans: fontFamilies.sans,
        fontWeightMedium: fontWeights.medium,
        sizes1125: sizes[1.125],
        sizes175: sizes[1.75],
        sizes1: sizes[1],
    }}
>
    .see-all {
        font-family: var(--fontFamiliesSans);
        font-size: var(--sizes1125);
        font-weight: var(--fontWeightMedium);
        grid-column-start: 3;
        line-height: var(--sizes175);
        margin-top: var(--sizes1);
    }
</style>

<H2>
    <SmartLink heading href={`/${lang}/category/${tag.id}/`}>
        {tag.names[lang]}
    </SmartLink>
</H2>
<Paragraph>{tag.metaDescription[lang]}</Paragraph>
<ExcerptList lang={lang} limit={3} tag={tag.id} />
<div class="see-all">
    <Link href={`/${lang}/category/${tag.id}/`}>{seeAllLabels[lang]}</Link>
</div>
