---
import type { ImageMetadata } from 'astro'

import { Image as UnpicImage, Source } from '@unpic/astro' /* eslint-disable-line import/no-unresolved */

interface Props {
    localAlt?: string
    localCroppedHeroImage?: string
    localHeroImage?: string
}

const { localAlt, localCroppedHeroImage, localHeroImage } = Astro.props

const allLocalImages = import.meta.glob<ImageMetadata>('../../images/*.{jpg,png}', { eager: true, import: 'default' })
const resolvedHero = localHeroImage ? allLocalImages[`../../images/${localHeroImage}`] : null
const resolvedCropped = localCroppedHeroImage ? allLocalImages[`../../images/${localCroppedHeroImage}`] : null
---

<style>
    .image-container {
        display: flex;
        overflow: hidden;
        position: relative;
    }

    .image-container :global(img) {
        aspect-ratio: 1.3333333333;
        object-fit: cover;
        width: 100%;
    }

    @media (min-width: 1200px) {
        .image-container {
            width: 50%;
        }

        .image-container :global(img) {
            aspect-ratio: 1;
        }
    }
</style>
<div class="image-container">
    {
        resolvedHero && resolvedCropped && (
            <picture>
                <Source layout="fullWidth" media="(max-width: 1199px)" src={resolvedCropped} type="image/avif" />
                <Source layout="fullWidth" media="(max-width: 1199px)" src={resolvedCropped} type="image/webp" />
                <Source layout="fullWidth" media="(max-width: 1199px)" src={resolvedCropped} />
                <Source layout="fullWidth" media="(min-width: 1200px)" src={resolvedHero} type="image/avif" />
                <Source layout="fullWidth" media="(min-width: 1200px)" src={resolvedHero} type="image/webp" />
                <Source layout="fullWidth" media="(min-width: 1200px)" src={resolvedHero} />
                <UnpicImage alt={localAlt ?? ''} layout="fullWidth" priority src={resolvedHero} unstyled />
            </picture>
        )
    }
</div>
