---
import type { ImageMetadata } from 'astro'
import type { JsonLdType } from '../lib/jsonld'

import Footer from '../components/Footer.astro'
import GlobalStyle from '../components/GlobalStyle.astro'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import {
    colors,
    gridAreas,
    gridTemplateColumns,
    gridTemplateColumnsArticle,
    gridTemplateRowsLayout,
    gridTemplateRowsLayoutMobile,
} from '../lib/styles'

interface Props {
    createdAt?: string
    description?: string
    lang?: 'en' | 'fi' | 'sv'
    ogImage?: ImageMetadata
    ogImageAlt?: string
    slug?: string
    title: string
    type?: JsonLdType
    updatedAt?: string
}

const { createdAt, description, lang, ogImage, ogImageAlt, slug, title, type, updatedAt } = Astro.props
---

<html lang={lang ?? 'fi'}>
    <head>
        <GlobalStyle />
        <Head
            createdAt={createdAt}
            description={description}
            lang={lang}
            ogImage={ogImage}
            ogImageAlt={ogImageAlt}
            slug={slug}
            title={title}
            type={type}
            updatedAt={updatedAt}
        />
    </head>
    <body>
        <style
            define:vars={{
                colorsWhite: colors.white,
                gridAreasMain: gridAreas.main,
                gridTemplateColumns,
                gridTemplateColumnsArticle,
                gridTemplateRowsLayout,
                gridTemplateRowsLayoutMobile,
            }}
        >
            body > div {
                display: grid;
                grid-template-areas:
                    'main'
                    'footer';
                grid-template-columns: var(--gridTemplateColumns);
                grid-template-rows: var(--gridTemplateRowsLayoutMobile);
                min-height: 100dvh;
                position: relative;
            }

            main {
                background-color: var(--colorsWhite);
                grid-area: var(--gridAreasMain);
            }

            main > article {
                display: grid;
                grid-template-columns: var(--gridTemplateColumnsArticle);
            }

            @media (min-width: 1200px) {
                body > div {
                    grid-template-rows: var(--gridTemplateRowsLayout);
                }
            }
        </style>
        <div>
            <Header lang={lang} />
            <main id="main">
                <article>
                    <slot />
                </article>
            </main>
            <Footer lang={lang} />
        </div>
        <script
            is:inline
            set:html={`
            document.querySelectorAll('a[data-switch-to-lang]').forEach(function(a) {
                var lang = a.getAttribute('data-switch-to-lang')
                if (!lang) return
                a.href = window.location.pathname.replace(/^\\/(fi|sv|en)\\//, '/' + lang + '/')
            })
        `}
        />
        <!-- 100% privacy-first analytics -->
        <script src="https://scripts.simpleanalyticscdn.com/latest.js" type="text/partytown"></script>
    </body>
</html>
