---
import GlobalStyle from '../components/GlobalStyle.astro'
import Head from '../components/Head.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import TitleBanner from '../components/TitleBanner.astro'
import Body from '../components/Body.astro'
import type { Image } from '../types/contentful'

import {
    gridTemplateColumns,
    gridTemplateRowsLayoutMobile,
    gridTemplateRowsLayout,
    colors,
    gridTemplateColumnsArticle,
    gridAreas,
} from '../lib/styles'
import type { Document } from '@contentful/rich-text-types'
import type { TagCollection } from 'contentful'
import type { JsonLdType } from '../lib/jsonld'

interface Props {
    description?: string
    title: string
    heroImage?: Image
    body?: Document
    slug?: string
    type?: JsonLdType
    tags?: TagCollection
}

const { description, title, heroImage, body, slug, type, tags } = Astro.props
---

<html lang="fi">
    <head>
        <GlobalStyle />
        <Head description={description} title={title} slug={slug} image={heroImage} type={type} />
    </head>
    <body>
        <style define:vars={{ gridTemplateColumns, gridTemplateRowsLayoutMobile, gridTemplateRowsLayout }}>
            body > div {
                display: grid;
                grid-template-areas:
                    'main'
                    'footer';
                grid-template-columns: var(--gridTemplateColumns);
                grid-template-rows: var(--gridTemplateRowsLayoutMobile);
                min-height: 100dvh;
                position: relative;
                @media (min-width: 1200px) {
                    grid-template-rows: var(--gridTemplateRowsLayout);
                }
            }
        </style>
        <div>
            <Header />
            <main style={{ backgroundColor: colors.white, gridArea: gridAreas.main }}>
                <article style={{ display: 'grid', gridTemplateColumns: gridTemplateColumnsArticle }}>
                    <TitleBanner title={title} heroImage={heroImage} />
                    {body && <Body node={body} tags={tags} />}
                    <slot />
                </article>
            </main>
            <Footer />
        </div>
    </body>
</html>
