---
import type { Document } from '@contentful/rich-text-types'
import type { TagCollection, TagLink } from 'contentful'
import type { JsonLdType } from '../lib/jsonld'
import type { Image } from '../types/contentful'

import Body from '../components/Body.astro'
import Footer from '../components/Footer.astro'
import GlobalStyle from '../components/GlobalStyle.astro'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import HeroBanner from '../components/HeroBanner.astro'
import TitleBanner from '../components/TitleBanner.astro'
import {
    colors,
    gridAreas,
    gridTemplateColumns,
    gridTemplateColumnsArticle,
    gridTemplateRowsLayout,
    gridTemplateRowsLayoutMobile,
} from '../lib/styles'

interface Props {
    allTags?: TagCollection
    backgroundImage?: Image
    body?: Document
    createdAt?: string
    croppedHeroImage?: Image
    description?: string
    heroBanner?: boolean
    heroImage?: Image
    secondaryTitle?: string
    slug?: string
    subtitle?: string
    tags?: { sys: TagLink }[]
    title: string
    type?: JsonLdType
    updatedAt?: string
}

const {
    allTags,
    backgroundImage,
    body,
    createdAt,
    croppedHeroImage,
    description,
    heroBanner,
    heroImage,
    secondaryTitle,
    slug,
    subtitle,
    tags,
    title,
    type,
    updatedAt,
} = Astro.props
---

<html lang="fi">
    <head>
        <GlobalStyle />
        <Head
            createdAt={createdAt}
            croppedImage={croppedHeroImage}
            description={description}
            image={heroImage}
            slug={slug}
            title={title}
            type={type}
            updatedAt={updatedAt}
        />
    </head>
    <body>
        <style
            define:vars={{
                colorsWhite: colors.white,
                gridAreasMain: gridAreas.main,
                gridTemplateColumns,
                gridTemplateColumnsArticle,
                gridTemplateRowsLayout,
                gridTemplateRowsLayoutMobile,
            }}
        >
            body > div {
                display: grid;
                grid-template-areas:
                    'main'
                    'footer';
                grid-template-columns: var(--gridTemplateColumns);
                grid-template-rows: var(--gridTemplateRowsLayoutMobile);
                min-height: 100dvh;
                position: relative;
            }

            main {
                background-color: var(--colorsWhite);
                grid-area: var(--gridAreasMain);
            }

            main > article {
                display: grid;
                grid-template-columns: var(--gridTemplateColumnsArticle);
            }

            @media (min-width: 1200px) {
                body > div {
                    grid-template-rows: var(--gridTemplateRowsLayout);
                }
            }
        </style>
        <div>
            <Header />
            <main id="main">
                <article>
                    {
                        heroBanner ? (
                            <HeroBanner
                                backgroundImage={backgroundImage}
                                image={heroImage}
                                secondaryTitle={secondaryTitle}
                                subtitle={subtitle}
                                title={title}
                            />
                        ) : (
                            <TitleBanner
                                allTags={allTags}
                                createdAt={createdAt}
                                heroImage={heroImage}
                                tags={tags}
                                title={title}
                            />
                        )
                    }
                    {body && <Body allTags={allTags} node={body} />}
                    <slot />
                </article>
            </main>
            <Footer />
        </div>
        <!-- 100% privacy-first analytics -->
        <script src="https://scripts.simpleanalyticscdn.com/latest.js" type="text/partytown"></script>
    </body>
</html>
