---
import { CldImage } from 'astro-cloudinary'

import { fontFamilies, fontSizes, fontWeights, sizes } from '../../lib/styles'

interface Props {
    alt: string
    recommendation: string
    image: string
    name: string
    title: string
}

const { alt, recommendation, image, name, title } = Astro.props
---

<style
    define:vars={{
        fontFamiliesMono: fontFamilies.mono,
        fontFamiliesSans: fontFamilies.sans,
        fontSizes1: fontSizes[1].fontSize,
        fontSizes1125: fontSizes[1.125].fontSize,
        fontWeightsMedium: fontWeights.medium,
        fontWeightsRegular: fontWeights.regular,
        lineHeight1: fontSizes[1].lineHeight,
        lineHeight125: fontSizes[1.25].lineHeight,
        sizes05: sizes[0.5],
        sizes1: sizes[1],
    }}
>
    article {
        display: flex;
        flex-direction: column;
        gap: var(--sizes1);
    }

    .portrait {
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
    }

    .portrait :global(img) {
        aspect-ratio: 1;
        object-fit: cover;
        width: 100%;
    }

    blockquote {
        margin: 0;
        padding-left: var(--sizes1);
    }

    p {
        font-family: var(--fontFamiliesMono);
        font-size: var(--fontSizes1125);
        font-style: italic;
        font-weight: var(--fontWeightsRegular);
        line-height: var(--lineHeight125);
        margin: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        font-family: var(--fontFamiliesSans);
        font-size: var(--fontSizes1);
        line-height: var(--lineHeight1);
        margin-top: var(--sizes05);
    }

    footer cite {
        font-style: normal;
        font-weight: var(--fontWeightsMedium);
    }

    footer span {
        font-weight: var(--fontWeightsRegular);
    }
</style>
<article>
    {
        image && (
            <div class="portrait">
                <CldImage
                    alt={alt}
                    crop={{ aspectRatio: '1:1', gravity: 'face', source: true, type: 'fill' }}
                    src={image}
                    unstyled
                    width={448}
                />
            </div>
        )
    }
    <blockquote>
        {recommendation && <p>{recommendation}</p>}
        <footer>
            <cite>{name}</cite>
            {title && <span>{title}</span>}
        </footer>
    </blockquote>
</article>
